{% url 'home-view' as path_to_home %}
{% url 'posts:main-post-view' as login_path_to_posts %}
{% url 'posts:post-view' as path_to_posts %}
{% url 'profiles:my-profile-view' as path_to_my_profile %}

    <div class="ui inverted menu nav mb-7">
    <div class="ui container">
        {% if user.is_authenticated %}
        <a href="{{login_path_to_posts}}" class="{% if request.path == login_path_to_posts %}active{% endif %} item">
            <h2>Discussion Forum</h2>
        </a>
        {% else %}
        <a href="{{path_to_posts}}" class="{% if request.path == path_to_posts %}active{% endif %} item">
            <h2>Discussion Forum</h2>
        </a>
        {% endif %}
        

        <div class="right menu">
            {% if request.user.is_authenticated %}
            
         

                <a href="{{path_to_my_profile}}" class="{% if request.path == path_to_my_profile %}active{% endif %} item">
                    <img src={{picture.url}} class="ui avatar image">&nbsp;
                    {{ request.user }}
                </a>

                <a href="{% url 'account_logout'%}" class="ui item">
                    Logout
                </a>

            {% else %}

                <a href="{% url 'account_login'%}" class="ui item">
                    <h3>Login</h3>
                </a>

            {% endif %}
        </div>
    </div>
    </div>